target/
out/
lib/
test/ressource/
null/
data/*
.bsp
# IDEA intelliJ

.idea/
*.iml

# MacOS

## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon

## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.db

## visual studio code and metals
.bloop
.metals
.vscode
project/.bloop
project/metals.sbt
project/project
